@page "/"
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<Resource> localizer

<PageTitle>Index</PageTitle>

<SelectUICulture></SelectUICulture>

<h1>@localizer["Bienvenido"]!</h1>

@* Welcome to your new app. *@
